@font-face { font-family:Dracula; src: url("/fonts/dracula.TTF"); }

/* LANDING PAGE */

.LandPage{
    background-image: url("../images/LandingPage.gif");
    background-size: cover;
}

.start{
    border: solid black;
    position: absolute;
    right: 30%;
    bottom: 43%;
    height: 250px;
    width: 200px;
    border-radius: 80px;
    opacity: 0;
    cursor: pointer;
    /* width: 20px; */

}

/* ----------------------------------------------------------------------------- */

/* INTRO PAGE */
.intro{
    margin: 0;
}


/* ----------------------------------------------------------------------------- */

/* HANG MAN PAGE */

.HangItUp{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/Background.png");
    background-size: cover;
    grid-template-rows: 15% auto;
}

.Title{
border: solid red;
grid-column: span 2;
grid-row: 1;
font-family: Dracula;
font-size: 100px;
text-align: center;
padding-top: 10px;
color: rgba(0, 0, 0, .7);
-webkit-text-stroke: 2px white;
margin: 0;
}

.HangMan{
border: solid blue;
grid-column: 2;
grid-row: 2/5;
text-align: center;
font-size: 50px;
}

.Question{
border: solid yellow;
grid-column: 1;
grid-row: 2;
padding-top: 70px;
text-align: center;
font-size: 50px;
color: white;
}

#Letters{
border: solid green;
font-family: Dracula;
grid-column: 1;
grid-row: 3;
text-align: center;
font-size: 50px;
color: white;
}

.Answer{
border: solid orange;
color: white;
padding-top: 120px;
grid-column: 1;
grid-row: 4;
text-align: center;
font-size: 50px;
/* padding-top: 120px; */
}
